@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    margin: 0;
    color: white;
    background: linear-gradient(#52518b, #36428c);
}

h1,
h2,
h3,
p {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

.details__pokemon {
    max-width: 450px;
    box-shadow: 0px 5px 15px 5px rgba(255, 255, 255, .1);
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.details__pokemon .wrapper {
    background-image:
        repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.0125), rgba(255, 255, 255, 0.0025) 3px, transparent 3px, transparent 90px, rgba(255, 255, 255, 0.005) 90px, rgba(255, 255, 255, 0.005) 93px, transparent 93px, transparent 180px),
        repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.0125), rgba(255, 255, 255, 0.0025) 3px, transparent 3px, transparent 90px, rgba(255, 255, 255, 0.005) 90px, rgba(255, 255, 255, 0.005) 93px, transparent 93px, transparent 180px),
        repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0.0025) 3px, transparent 3px, transparent 90px);
}

.pokemon-card {
    padding: 1.5rem;
    position: relative;
}

.pokemon-card__header {
    padding-bottom: 1rem;
}

.pokemon-card__body {
    margin: 0 -1.5rem;
    padding: 0.1rem 1.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, transparent 10%);
}



.details__name {
    text-transform: uppercase;
}


.details__intro {
    display: flex;
    flex-direction: column-reverse;
}

.details__title {
    text-align: center;
    margin-bottom: 0;
}

.details__pokedex-num:before {
    font-family: "icons";
    content: "\f12a";
    font-size: 0.55em;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.details__picture-actions {
    display: flex;
    justify-content: center;
}

.details__features-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    font-size: .8rem;
}

.details__features-item-name,
.details__features-item-value {
    text-transform: uppercase;
}

.details__features-item-unit {
    font-size: .8em;
}

.details__description {
    opacity: 0.7;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}

.details__evolution h2 {
    padding-top: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.4);

}

ul.details__evolution-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

li.details__evolution-item {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

li.details__evolution-item:before {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;
    content: '\e5c8';
    font-size: 2rem;
}

ul.details__evolution-list li:first-child:before {
    content: unset;
}

.pokemon-card-evolution img {
    max-width: 100%;
    width: 80px;
}

.pokemon-card-evolution h3 {
    margin: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
}


.details__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.details__picture img {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.details__picture-actions button {
    cursor: pointer;
}

.stats__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
}

.stat__name {
    width: 25%;
    font-size: .8rem;
}

.stat__value {
    flex-grow: 1;
    background: lightgray;
    border-radius: 3px;
    overflow: hidden;
    width: 75%;
}

#back {
    opacity: .7;
    font-size: .8rem;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
}

#back::before {
    font-family: 'Material Symbols Outlined';
    content: '\e5c4';
    vertical-align: middle;
    font-size: 1.5rem;
}

/*Lista de pokemon*/
.pokemon-block__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.pokemon-block__item {
    width: 5%;
}

.pokemon-block__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.pokemon__name {
    font-size: 0.9rem;
}

.pokemon-form input,
.pokemon-form button {
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem 0.8rem;
}

.pokemon-form button {
    cursor: pointer;
    /* padding: 0.2rem 0.5rem; */
}

.pokemon-form button:hover {
    background-color: #36428c;
    /* border: 1px solid #36428c; */
    color: white;
}