<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="pokemon-card">
        <div class="wrapper">
            <div class="details__intro">
                <h1 class="details__title">
                    <span class="details__pokedex-num">0013</span>
                    <span class="details__name">WEEDLE</span>
                </h1>
                <div class="details__picture">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png">
                    <div class="details__picture-actions">
                        <button>shiny</button>
                    </div>
                </div>
            </div>
            <div class="details__main-features">
                <ul class="details__main-features-list">
                    <li>Altura: 2m</li>
                    <li>Peso: 2m</li>
                </ul>
            </div>
            <div class="details__description">
                <p>El aguijón de la cabeza es muy puntiagudo. Se alimenta de hojas oculto en la espesura de bosques y
                    praderas
                </p>
            </div>
            <div class="details__evolution">
                <h2>Evolution</h2>
                <ul class="details__evolution-list">
                    <li class="details__evolution-item">
                        <div class="pokemon-card-evolution">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png">
                            <h3>WEEDLE</h3>
                        </div>
                    </li>
                    <li class="details__evolution-item">
                        <div class="pokemon-card-evolution">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/014.png">
                            <h3>KAKUNA</h3>
                        </div>
                    </li>
                    <li class="details__evolution-item">
                        <div class="pokemon-card-evolution">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png">
                            <h3>BEEDRILL</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script defer="" type="text/javascript" src="../assets/js/animations.js"></script>

</html>