<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body>
    <h1> POKEDEX </h1>
    <div class="pokemon-form">
        <form method="post" action="{{ url_for('search_pokemon') }}">
            <!-- <label for="search">Name pokemon or ID:</label> -->
            <input type="text" id="search" name="search" placeholder="Name pokemon or ID" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="pokemon-block">
        <div>
            <ul class="pokemon-block__list">
                {% for pokemon in pokemonlist %}
                <li class="pokemon-block__item">
                    <a href="{{pokemon.url}}">
                        <img src="https://img.pokemondb.net/sprites/home/normal/{{ pokemon.name }}.png"
                            class="pokemon__image">
                        <span class="pokemon__name">{{ pokemon.name.capitalize() }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>

</html>